<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Writings</title>
        <div class="navbar">
            <div>
                <a href="/about">About</a>
                <a href="/writings">Writings</a>
            </div>
            <div>
                <a href="/success">Your Profile</a>
                <a href="/cart">Cart</a>
            </div>
        </div>
    </head>
    <body>
        <h1>All Writings</h1>
        <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Writing</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
        {% for writing in writings %}
            <tr>
                <td>{{ writing.title }}</td>
                <td>{{ writing.writing }}</td>
                <td><a href="/writings/{{ writing.id }}">View</a> | <a href="/writings/{{ writing.id }}/editor">Edit</a> | <a href="/writings/{{ writing.id }}/to_delete">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
        <a id="right" href="/writings/new">Add a Writing!</a>
    </table>
    </body>
</html>